fichiers/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="bibliotheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="livre" maxOccurs="unbounded" />
			</xs:sequence>                          
		</xs:complexType>
	</xs:element>
	
	<xs:element name="livre">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titre" />
				<xs:element ref="auteur" />
				<xs:element ref="editeur" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titre" type="xs:string" />
	<xs:element name="auteur" type="xs:string" />
	<xs:element name="editeur" type="xs:string" />
</xs:schema>